* {
  padding: 0;
  margin: 0;
}

/* ALL BODY */
body {
  font-family: "Helvetica", sans-serif;
}
.sub-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.in-content {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}
.in-contentBold {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
.tron {
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

/* NAVBAR SECTION */
nav {
  background-color: #f1f3ff;
}
.btn {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

/* HEADER SECTION */
#header {
  background-color: #f1f3ff;
}
.jumbotron-fluid {
  background-color: #f1f3ff;
}

.tron-lead {
  margin-right: 20%;
}
.img-big1 {
  max-width: 100%;
  width: 100%;
}

/* OUR SERVICES SECTION */
#our-service {
  margin: 10% auto;
}
.img-big2 {
  max-width: 90%;
  width: 80%;
}

/* WHY US SECTION */
#why-us {
  margin: 10%;
}
.card-img-top {
  width: 32px;
  height: 32px;
  margin-top: 20px;
  margin-left: 20px;
}
.card-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

/* TESTIMONIAL SECTION */
#testimonial {
  margin-top: 10%;
}
/* carousel */
.item {
  background-color: #f1f3ff;
  height: 270px;
  border-radius: 8px;
}
.image-testi {
  height: 80px;
}
.image-rate {
  height: 16px;
}

/* JUMBOTRON-2 */
#container-jumbo2 {
  margin: 10% 3%;
}
.jumbotron-2 {
  max-width: 100%;
  width: 1168px;
  /* height: 326px; */
  background-color: #0d28a6;
  border-radius: 13px;
  text-align: center;
  color: #ffffff;
}

/* FAQ SECTION */
#faq {
  margin: 10%;
}

/* FOOTER SECTION */
.footer-link:link,
.footer-link:visited,
.footer-link:active {
  color: black;
  text-decoration: none;
}
.footer-link:hover {
  color: #0d28a6;
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
  /* HEADER */
  .jumbotron-fluid {
    padding-top: 150px;
    margin-left: 20%;
  }
  .img-big1 {
    margin-top: 10%;
  }

  /* OUR SERVICES SECTION */
  .img-big2 {
    margin-left: 30%;
    width: 459px;
    height: 428px;
  }
  #checklist {
    margin-left: 5%;
    margin-right: 38%;
  }

  /* WHY US SECTION */
  #why-us {
    margin: 10% 150px;
  }

  #why-us .sub-title {
    text-align: start !important;
  }
  #why-us .in-content {
    text-align: start !important;
  }

  /* JUMBOTRON 2 */
  #container-jumbo2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lead {
    margin: auto 30%;
  }

  /* FAQ SECTION */
  #faq {
    margin: 10% 150px;
  }
  #faq .sub-title {
    text-align: start !important;
  }
  #faq .in-content {
    text-align: start !important;
  }

  /* FOOTER SECTION */
  #footer {
    margin: 10% 150px;
  }
}
